<%= render 'home/header' %>
<div class="item_data">
<h2><%= @item.name %></h2>
<hr>
<div class="item_result">
	<div class="item_image">
	<% img_url = "https://render.guildwars2.com/file/#{@item.icon_file_signature}/#{@item.icon_file_id}.jpg" %>
		<%= image_tag(img_url) %>
	</div>
	<% unless @item.type_elements.nil? %>
	<div class="item_result_details">
		<% desc = YAML::load(@item.type_elements)["description"].split("\n") %>
		<% desc.each do |d| %>
		<%= d %><br />
		<% end %>
		Duration: <%= YAML::load(@item.type_elements)["duration_ms"].to_i / 60000 %> minutes<br />
		Minimum level: <%= @item.level %>
	</div>
	<% end %>
</div>
<% unless @item.craft_mat.nil? %>
	<p><b>Crafting ingredient:</b> <%= @item.get_disciplines %></p>
<% end %>

<% unless @item.recipe_no.nil? %>
	<h3>Recipe (<%= @item.get_recipe.get_disciplines %> required):</h3>
	<hr>
	<div class="recipe_ingredients">
	<% @item.get_recipe.get_ingredients.each do |i| %>

<div class="recipe_item_result">
	<div class="recipe_item_image">
	<% img_url = "https://render.guildwars2.com/file/#{i[:item].icon_file_signature}/#{i[:item].icon_file_id}.jpg" %>
		<%= image_tag(img_url) %>
	</div>
	<div class="recipe_item_details">
		<b><%= i[:number] %>x <%= link_to(i[:item].name, "#{i[:item].item_no}") %></b><br />
	</div>
</div>
<% end %>
</div>
<% end %>
</div>
<%= render 'comments/list' %>







<%= render 'home/footer' %>